#left {
	-fx-background-color: #252525;
}

#profile_image_btn {
	-fx-background-color: transparent;
}

#add_cultura_btn {
	-fx-background-color: linear-gradient(to right, #11998e 40.0%, #38ef7d 100.0%);
	-fx-background-radius: 60.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

#cultura_listview {
	-fx-background-color: transparent;
}

#cultura_listview .list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#cultura_listview .list-cell:selected {
	-fx-background-color: #2f2f2f;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
	-fx-text-fill: white;
	-fx-margin: 10.0;
}

#info_pane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 8.0;
}

#info_pane:hover {
	-fx-effect: dropshadow(gaussian, #afafaf, 40.0, 0.0, 0.0, 14.0);
}

#monitorized_variables_label {
	-fx-graphic: url("/application/media/icons/testtube_orange_32px.png");
}